html {
  background-image: url('img.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #24272b;
  color: white;
  text-align: center;
  overflow: hidden;
}
h1 {
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 25px;
  color: white;
}
a {
  text-decoration: none;
}
#progress {
  display: block;
}
#menu {
  display: block;
}
#crypto {
  display: none;
}
#tools {
  display: none;
}
#lnx {
  display: none;
}
#mods {
  display: none;
}
.btn {
  background-color: #003263;
  color: white;
  width: 227px;
  height: 46px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.btn:hover {
  background-color: #0058b1;
}
.alt {
  background-color: #b10000;
}
.alt:hover {
  background-color: #f31414;
}
.onln {
  background-color: #076300;
}
.onln:hover {
  background-color: #18891b;
}
.toolbox {
  background-color: #ae2301;
}
.toolbox:hover {
  background-color: #d42a01;
}
