.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


/* .info {
    overflow: hidden;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 45px;
    font-family: sans-serif;
    color: #b8b8b8;

    transform: translate(-50%, -50%);
} */

.j {
    font-size: 15px;
    color: #2F3335;
}

.log {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    font-size: 18px;
    width: 100%;
    height: 30%;
    color: #fff;
    background-color: inherit;
}

body {
    /* background-color: #131313; */
    background-color: rgb(18, 18, 25);
    /* webkit renders this with banding... */
    /* background : radial-gradient(ellipse at left top, rgb(31, 35, 43) 0%, rgb(10, 10, 20) 65%);     */
    color: #def;
    font-family: Calibri, Helvetica, 'Sans-Serif';
}

.btn {
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.2rem 0.1rem;
    cursor: pointer;
    line-height: 2.5rem;
    /* height: 2.5rem; */
    min-width: 75px;
    /* border-radius: 5rem; */
    border-radius: 4px;
    width: 70%;
    background-color: #3d3f4e;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #c2c2c2;
    color: #303030;
}


a:active,
a:focus {
    outline: 0;
    border: none;
}

.secondary-text {
    color: #959595;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;

}

.info a {
    color: #e3e3e3;
}

.info {
    color: #a1a1a1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.grid-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.d-none {
    display: none !important;
}

.opacity-transition {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden-btn {
    padding: 0;
    visibility: collapse;
}

#payloads-list a p {
    margin: 0;
    padding: 0;
}


#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toast {
    background: #181830;
    color: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hide {
    opacity: 0;
    transform: translateY(-100%);
}
